<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>Acerca del instituto</mat-card-title>
        <mat-card-subtitle>Cursos de preparación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>A través del descubrimiento del potencial de cada individuo
            y desarrollando su habilidad al máximo,
            aspiramos formar personas íntegras y capaces
            para así contribuir a la comunidad global.</p>
        <p>A través del descubrimiento del potencial de cada individuo
            y desarrollando su habilidad al máximo,
            aspiramos formar personas íntegras y capaces
            para así contribuir a la comunidad global.</p>
    </mat-card-content>
</mat-card>