<div class="title">
    <h2>Acerca de nosotros...</h2>
</div>

<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>Cursos de preparación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>¿Quienes somos?</h3>
        <p>Somos un grupo de jovenes, estudiantes del Instituto Politecnico Nacional comprometidos con la educación de los niños.
        </p>
        <h3>Misión</h3>
        <p>A través del descubrimiento del potencial de cada individuo
            y desarrollando su habilidad al máximo,
            aspiramos formar personas íntegras y capaces
            para así contribuir a la comunidad global.</p>
        <h3>Visión</h3>
        <p>A través del descubrimiento del potencial de cada individuo
            y desarrollando su habilidad al máximo,
            aspiramos formar personas íntegras y capaces
            para así contribuir a la comunidad global.</p>
        <span></span>
        <span></span>
        <h3>Contacto</h3>
        <p>institutoJF@hotmail.com</p>
    </mat-card-content>
</mat-card>