<div class="new-post-container">
    <form [formGroup]="newTopicForm" (ngSubmit)="addNewPost(newTopicForm.value)">
        <mat-form-field>
            <mat-label>Nombre del tema</mat-label>
            <input matInput placeholder="Nombre del tema" type="text" formControlName="topic">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción" type="text" formControlName="description">
        </mat-form-field>
        <div class="container-input-file">
            <label class="custom-file">
                <input type="file" formControlName="content" (change)="handleImage($event)">
                <mat-icon>cloud_upload</mat-icon><span>Selecciona tu archivo</span>
            </label>
        </div>
        <div class="container-button">
            <input type="submit" class="mat-flat-button" value="Guardar" [mat-dialog-close]="true">
        </div>
    </form>
</div>