.container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;

    a{
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }

    .post-card{
        background: #f4f4f4;
        color: #000;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

        img{
            height: 200px;
        }
        p.content{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}