<div class="new-post-container">
    <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <mat-form-field>
            <mat-label>Nombre de la materia</mat-label>
            <input matInput placeholder="Materia" type="text" formControlName="titlePost">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre del profesor</mat-label>
            <input matInput placeholder="Profesor" type="text" formControlName="contentPost">
        </mat-form-field>
        <div class="container-input-file">
            <label class="custom-file">
                <input type="file" formControlName="imagePost" (change)="handleImage($event)">
                <mat-icon>cloud_upload</mat-icon><span>Selecciona la imagen</span>
            </label>
        </div>
        <div class="container-button">
            <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
        </div>
    </form>
</div>